.card {
	/* Rectangle 1 */

	position: absolute;
	width: 90vw;
	min-height: 100vh;
	left: 23px;
	top: 83px;
	right: 23px;
	/* main */

	border: 3px solid #010101;
	box-sizing: border-box;
	border-radius: 30px;
	display: flex;
	margin-bottom: 20px;
}
