.tasklist-item {
	background: #ffffff;
	box-shadow: 0px 4px 20px -8px rgba(0, 0, 0, 0.25);
	border-radius: 8px;
	margin-bottom: 30.25px;
	padding: 8px 25px;
	display: flex;
	align-items: center;
}
.tasklist-item__name {
	font-family: "Inter";
	font-style: normal;
	font-weight: 700;
	font-size: 14px;
	line-height: 24px;
}

.tasklist-item__left {
	width: 60%;
	display: flex;
	flex-direction: column;
}
.tasklist-item__right {
	width: 40%;
	display: flex;
	justify-content: right;
	align-items: center;
}
.tasklist-item__trash {
	background-image: url(../../../../../public/trash.png);
	width: 32.73px;
	height: 26.67px;
	left: 720.17px;
	top: 16.67px;
	margin-left: 9px;
	background-color: transparent;
	border: 0px;
	cursor: auto;
	background-size: contain;
	background-repeat: no-repeat;
	cursor: pointer;
}
