.container {
	display: flex;
	justify-content: left;
	width: 100%;
	height: 100%;
	align-items: center;
}
.checkbox {
	background: #ffffff;
	border: 1px solid #000000;
	box-sizing: border-box;
	border-radius: 4px;
}
.label {
	font-family: "Inter";
	font-style: normal;
	font-size: 12px;
	line-height: 24px;
	color: #676767;
	
	/* identical to box height, or 200% */
}
