
.separator {
	border: 1px solid #000000;
	transform: rotate(90deg);
}

.left {
	float: left;
	/* background-color: azure; */
	width: 40vw;
	border-right: 1px solid #000000  ;
}
.right {
	float: right;
	/* background-colocdr: aqua; */
	width: 60vw;
}
.button__logout
{
	height: 40px;
	background: #f66a56;
	border-radius: 8px;
	font-family: "Inter";
	font-style: normal;
	/* font-weight: 700; */
	font-size: 14px;
	line-height: 24px;
	border: 0px;
	cursor: pointer;
	color: #fde7e0;
	float: right;
	min-width: 100px;
	margin: 10px 55px 10px 10px;
}
