.container {
	margin: 65px 55px 0px 55px;
}
.add-form {
	display: flex;
	justify-content: space-between;
}
.title {
	font-family: "Inter";
	font-style: normal;
	font-weight: 700;
	font-size: 18px;
	line-height: 24px;
}
.add-form__input {
	width: 80%;
}
.add-form__submit {
	width: 40px;
	height: 40px;

	/* action */

	background: #f66a56;
	border-radius: 8px;

	font-family: "Inter";
	font-style: normal;
	font-weight: 700;
	font-size: 14px;
	line-height: 24px;
	/* or 171% */
border: 0px;
cursor: pointer;

	color: #fde7e0;
}
